<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Year level:</strong>
    <%= student.year_level %>
  </p>

  <p>
    <strong>Number of units:</strong>
    <%= student.number_of_units %>
  </p>

  <p>
    <strong>Total assessment:</strong>
    <%= student.total_assessment %>
  </p>

</div>
