<div id="<%= dom_id subject %>">
<body style="background-color: skyblue">
<table border=0>
  <tr align="center">
  <th><strong style="color: white">Subject Name:</strong></th>
  <th><strong style="color: red">Section:</strong></th>
  <th><strongs tyle="color: yellow">Number of units:</strong></th>
  <th><strong style="color: green">Number of students:</strong></th>
  <th>strong style="color: white">Per unit rate:</strong></th>
  </tr>

  <tr>
  <th> <%= subject.name %></th>
  <th><%= subject.section %></th>
  <th><%= subject.number_of_units %></th>
  <th><%= subject.number_of_students %></th>
  <th><%= subject.per_unit_rate %></th>
  </tr>
  
</table>
</body>
</div>
