<%= form_with(model: course) do |form| %>
  <% if course.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="color: black; border: 1.5px solid black; background-color: B89188;">
    <%= form.label :subject_id, style: "display: block" %>
    <%= form.text_field :subject_id %>
  </div>

  <div style="color: black; border: 1.5px solid black; background-color: B89188;">
    <%= form.label :student_id, style: "display: block" %>
    <%= form.text_field :student_id %>
  </div>

  <div style="color: black; border: 1.5px solid black; background-color: B89188;">
    <%= form.submit %>
  </div>
<% end %>
